p {
	font-family: Arial;
	font-size:130px;
}

.sizeone {
	font-style:italic;
	font-size:10px;
	
}

.sizetwo {
	font-style:italic;
	font-size:20px;	
	
}
.sizethree{
	font-style:italic;
	font-size:30px;	
	
}

.sizefour{
	font-style:italic;
	font-size:40px;	
	
}
