body {
	background-color: #F0E9D0;
}
body {
	background-color: #FFFFFF;
}
a:link {
	color:inherit;
	text-decoration: none;
}      /* unvisited link */
a:visited {
	color:inherit;
	text-decoration: none;
}  /* visited link */
a:hover {
	color:#AAAAAA;
	text-decoration: none;
}  /* mouse over link */

.portrait {
	width:80px;
	vertical-align:top;
	text-align:right;
}

.summary {
	word-wrap: break-word; 
	width: 100%;
}

.title {
	word-wrap: break-word; 
}
.googledoc {
	margin: 0 auto;
}
.onepiece {
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: #C0C0C0;
    padding:30px;
    padding-bottom:50px;
}
#newslist{
	margin:30px 30px 30px 30px;
}
.p-title {
	font-size: 24pt;
	font-family: helvetica;
	font-stretch: wider;
	font-weight:bold;
	max-width:80%;
	display:inline;
	line-height: 120%;
	padding-top: 10px;
	padding-bottom: 5px;
}
.p-subtitle {
	font-size:14pt;
	font-family:Palatino;
	color:#B3B3B3;
	line-height: 10%;
	padding-top: 30px;
	padding-bottom: 25px;
}
.p-sum {
	font-size:16pt;
	font-family:Palatino;
	line-height:140%;
	color:#404040;
	
}
img {
	border-radius:10px;
}

br {

}
#subSector {
	text-align: center; 
	font-size: 20pt;
	font-family: Palatino;
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: #C0C0C0;
    padding:30px;
    padding-bottom:10px;
	/*
	border-bottom-width:2px;
    border-bottom-color:#CCCCCC;
    border-bottom-style: solid;
	*/
}
#subSector td {
	padding: 10px;
}
img {
	border-radius:10px;
}
.SubSectorText {
	color: #CCCCCC;
}