body {
	background-color: #FFFFFF;
}
.portrait {
	width:0px;
	vertical-align:top;
	text-align:right;
    visibility:hidden;
}
body {
	background-color: #FFFFFF;
}

.summary {
	word-wrap: break-word; 
	width: 100%;
}

.title {
	word-wrap: break-word; 
}
.googledoc {
	margin: 0 auto;
}
.onepiece {
	table-layout: fixed; 
	width: 100%; 
	margin-left:auto; 
    margin-right:auto;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color: #C0C0C0;
    padding:30px;
    padding-bottom:60px;
    
}
#newslist{
	margin:30px 2px 10px 2px;
}
.p-title {
	font-size: 48pt;
	font-family: helvetica;

	font-weight:bold;
	max-width:85%;
	display:inline;
	line-height: 120%;
	padding-top: 10px;
	padding-bottom: 100px;
}
.p-subtitle {
	font-size:32pt;
	font-family:Palatino;
	color:#B3B3B3;
	line-height: 10%;
	padding-top: 30px;
	padding-bottom: 60px;
}
.p-sum {
	font-size:40pt;
	font-family:Palatino;
    font-stretch: ultra-expanded;
    text-align:justify;
    text-justify:inter-word;
	line-height:120%;
	color:#404040;
	
}
img {
	border-radius:10px;
}

br {

}