body {
	background-color: #F0E9D0;
}
body {
	background-color: #FFFFFF;
	height: 100%; 
}
* {
	margin: 0;
}
html {
	height: 100%;
}
a:link {
	color:inherit;
	text-decoration: none;
}      /* unvisited link */
a:visited {
	color:inherit;
	text-decoration: none;
}  /* visited link */
a:hover {
	color:#AAAAAA;
	text-decoration: none;
}  /* mouse over link */


.portrait {
	width:80px;
	vertical-align:top;
	text-align:right;
}
#topBar {

	
}
#topBarTable {
	font-size:20pt;
	padding-right: 30px;
	padding-top:10px;
	text-align:right;
	color: #CCCCCC;
	text-align:right;
}
#topBarTable td {
	padding-right: 20px;
}
.summary {
	word-wrap: break-word; 
	width: 100%;
}

.title {
	word-wrap: break-word; 
}
.googledoc {
	margin: 0 auto;
}
.onepiece {
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
    border-top-style:solid;
    border-top-width:1px;
    
    border-top-color: #C0C0C0;
    padding:30px;
    padding-bottom:50px;
}
#newslist{
	margin:30px 30px 30px 30px;
}
.p-title {
	font-size: 24pt;
	font-family: helvetica;
	font-stretch: wider;
	font-weight:bold;
	max-width:80%;
	display:inline;
	line-height: 120%;
	padding-top: 10px;
	padding-bottom: 5px;
}
.p-subtitle {
	font-size:14pt;
	font-family:Palatino;
	color:#B3B3B3;
	line-height: 10%;
	padding-top: 30px;
	padding-bottom: 25px;
}
.p-sum {
	font-size:16pt;
	font-family:Palatino;
	line-height:140%;
	color:#404040;
	
}
#Logo {
	vertical-align:middle;
	text-align: center; 
	font-size: 40pt;
	font-family: Palatino;
	padding-top: 30px;

}
#subSectorTop {
	text-align: center; 
	font-size: 20pt;
	font-family: Helvetica;
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
    padding:30px;
}
#subSectorTop td {
	padding: 20px;
}
#subSectorMain {
	text-align: center; 
	font-size: 40pt;
	font-family: Helvetica;
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
	
    padding:30px;
}
#subSectorBot {


	text-align: center; 

	font-size: 14pt;
	font-family: Palatino;
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
	border-top-style:solid;
    border-top-width:1px;
    border-top-color: #C0C0C0;
    padding:10px;
}
#subSector {
	text-align: center; 
	font-size: 20pt;
	font-family: Palatino;
	
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: #C0C0C0;
    padding:30px;
    padding-bottom:10px;
}
#subSector td {
	padding: 10px;
}
#subSectorMain td {
	padding: 30px;
}
#subSectorMain tr {
	padding: 10px;
}
img {
	border-radius:10px;
}
.SubSectorText {
	color: #CCCCCC;
}
.SubSectorTextselected {
	color: #000000;
}
barline {
	text-align: center;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -75px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	
	height: 75px; /* .push must be the same height as .footer */
}


br {

}