body {
	font-size: 14pt;
	font-family: Antiqua;
		background-color: #F0E9D0;
}
#summary{
	height: 200px;
}
#origin {
	height: 100px;
}
textarea {
	resize: none;


}

#title,
#summary, 
#linktopage,
#origin,
#linktopic
{
	width:80%;
	font-size: 14pt;
	font-family: Antiqua;
}
#preview {

	margin-left:10%;
	margin-right:10%;
	Padding-top:5px;
	Padding-bottom:10px;
	Padding-left:10px;
	Padding-right:10px;
	width:80%;
	position:relative;

}

#onepiece {
	table-layout: fixed; 
	width: 90%; 
	margin-left:auto; 
    margin-right:auto;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color: #C0C0C0;
    padding:30px;
    padding-bottom:50px;
}
.center {
	margin-left:10%;
	margin-right:10%;	
}
#p-title {
	font-size: 24pt;
	font-family: helvetica;
	font-stretch: wider;
	font-weight:bold;
	max-width:80%;
	display:inline;
	line-height: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
}
#p-subtitle {
	font-size:14pt;
	font-family:Palatino;
	color:#B3B3B3;
	line-height: 10%;
	padding-top: 30px;
	padding-bottom: 25px;
}
#p-sum {
	font-size:16pt;
	font-family:Palatino;
	line-height:140%;
	color:#404040;
	

}
#portrait {
	width:60px;
	vertical-align:top;
	text-align:right;
}
#countershower {
	background-color: #F0E9D0;
	border:transparent;
		font-size:14pt;
	font-family:Palatino;
}
img {
	border-radius:10px;
}