body {
	background-color: #FFFFFF;
}
.portrait {
	width:80px;
	vertical-align:top;
	text-align:right;
}

.summary {
	word-wrap: break-word; 
	width: 100%;
}

.title {
	word-wrap: break-word; 
}
.googledoc {
	margin: 0 auto;
}
.onepiece {
	table-layout: fixed; 
	width: 100%; 
	margin-left:auto; 
    margin-right:auto;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color: #C0C0C0;
    padding:30px;
    padding-bottom:50px;
}
#newslist{
	margin:30px 10px 10px 10px;
}
.p-title {
	font-size: 52pt;
	font-family: helvetica;
	font-stretch: wider;
	font-weight:bold;
	max-width:85%;
	display:inline;
	line-height: 120%;
	padding-top: 10px;
	padding-bottom: 5px;
}
.p-subtitle {
	font-size:32pt;
	font-family:Palatino;
	color:#B3B3B3;
	line-height: 10%;
	padding-top: 30px;
	padding-bottom: 25px;
}
.p-sum {
	font-size:32pt;
	font-family:Palatino;
	line-height:140%;
	color:#404040;
	
}
img {
	border-radius:10px;
}

br {

}